body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #34495e;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #1abc9c;
}

.content {
    padding: 20px;
}

.materi-list li {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background: #1abc9c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 15px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}

/* RESPONSIF */
@media (max-width: 600px) {
    nav a {
        display: block;
    }
}
